* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #191b1b;
}

#box1 {
    height: 150px;
    width: 150px;
    background-color: rgb(69, 94, 94);
}

#box2{
    height: 150px;
    width: 150px;
    background-color: rgb(6, 187, 42);
}
#box3{
    height: 150px;
    width: 150px;
    background-color: rgb(235, 69, 14);
}
.highlight{
    color: white;
    font-weight: bold;
}