* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #392a2a;
}

#box1 {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

#box2{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}